@import url('link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=SUSE:wght@100..800&display=swap" rel="stylesheet');

*{ 
    margin:0;
    padding:0;
}

:root{
 --violeta: rgb(18, 48, 174);
 --lilas: rgb(198, 143, 230);
 --roxo: rgb(108, 72, 197);
 --preto: rgb(5, 8, 10);
 ---fonte-primaria: "Montserrat", sans-serif;
 ---fonte-segundaria:  "SUSE", sans-serif;
}

body{
    background-color: var(--lilas);
    font-family: var(---fonte-segundaria);
    color: var(--roxa);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

h1{
    font-family: var(---fonte-primaria);
    color: var(--violeta);
    font-size: 4em;
}
h3{
    color: var(--preto);
    font-family: var(---fonte-primaria);
}
.mensagem{
    font-size: 1.5em;
    color: var(--preto);
    margin-top: 20px;
    background-color: var(--roxo);
    border-radius: 10px;
    padding: 20px;
}
.box{
    border: 4px inset var(--violeta);
    display:inline-block;
    font-size: 2em;
    padding: 10px;
    margin: 10px;
}
